<?xml version="1.0"?>

<launch>
    <!-- เป็นการ Set parameter สำหรับตัว model หุ่นยนต์ โดยแปลงมาจากไฟล์ Xacro ของหุ่นที่เขียนไว้ -->
    <param name="robot_description" command="$(find xacro)/xacro  '$(find v_description)/urdf/v_bot.xacro'"/>


    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher">
        <param name="use_gui" value="False"/>
    </node>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    </node> 

    <!-- Run Rviz ตาม argsp path ไฟล์ Rviz ที่ config ไว้ -->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find v_description)/rviz/v_bot.rviz" >
    </node>


</launch>
