<?xml version="1.0"?>

<launch>

<!-- เป็นการ Set parameter สำหรับตัว model หุ่นยนต์ โดยแปลงมาจากไฟล์ Xacro ของหุ่นที่เขียนไว้ -->
<param name="robot_description" 
command="$(find xacro)/xacro $(find v_description)/urdf/v_bot.xacro" />

<!-- Run node spawn_urdf บน package gazebo โดยเอา model จาก parameter robot_description ที่ set ไปมาแสดงใน gazebo -->
<node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" output = "screen"
args="-param robot_description -urdf -model v" />

	<!-- Find Path package ของ gazebo เพื่อรันโปรแกรมเปล่าๆ -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
      <arg name="world_name" value="$(find v_gazebo)/world/room_furniture.world"/>
      <arg name="paused" value="false"/>
      <arg name="use_sim_time" value="true"/>
      <arg name="gui" value="true"/>
      <arg name="recording" value="false"/>
      <arg name="debug" value="false"/>
    </include>


    <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher">
        <param name="use_gui" value="False"/>
    </node>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
    </node> 


 <node pkg="rviz" type="rviz" name="rviz" args="-d $(find v_description)/rviz/v_bot.rviz" >
    </node>





  </launch>
